* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body {
    min-height: 100vh;
}
.container {
    width: 100%;
}
.icon {
    left: 1rem;
    top: 1rem;
    width: 12px;
}
form input {
    font-size: 1.6rem;
}
#total-amount,
#tip-amount {
    font-size: 2rem;
}
.tip {
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border-radius: 4px;
    border: none;
}
#custom {
    background-color: hsl(189, 41%, 97%);
}
.button,
.tip,
input {
    cursor: pointer;
}
/*=============================================
█████╗ ████████╗████████╗██████╗ ██╗██████╗ ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██║██╔══██╗██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║   ██║      ██║   ██████╔╝██║██████╔╝██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║   ██║      ██║   ██╔══██╗██║██╔══██╗██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║   ██║      ██║   ██║  ██║██║██████╔╝╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/

.attribution {
	font-size: 0.8rem;
	text-align: center;
    color: hsl(184, 14%, 56%);
    padding-bottom: 12px;
}
.attribution a {
	color: hsl(183, 100%, 15%);
}

/*=====  End of attribution  ======*/


/*=============================================
 ██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.bg-primary {
    background-color: hsl(185, 41%, 84%);
}
.bg-secondary {
    background-color: hsl(189, 41%, 97%);
}
.bg-white {
    background-color:hsl(0, 0%, 100%);
}
.bg-tertiary {
    background-color: hsl(183, 100%, 15%);
}
.bg-accent {
    background-color: hsl(172, 67%, 45%);
}
.primary {
    color: hsl(183, 100%, 15%);
}
.secondary {
    color: hsl(185, 41%, 84%);
}
.white {
    color: hsl(0, 0%, 100%);
}
.tertiary {
    color: hsl(184, 14%, 56%);
}
.accent {
    color: hsl(172, 67%, 45%);
}
/*=====  End of color  ======*/



/*=============================================
███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.grow-1 {
    flex-grow: 1;
}
.col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.cg-1 {
    column-gap: 12px;
}
.rg-1 {
    row-gap: 12px;
}
.rg-2 {
    row-gap: 24px;
}
/*=====  End of flex  ======*/


/*=============================================
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.p-1 {
    padding: 12px;
}
.p-2 {
    padding: 24px;
}
.pr-2 {
    padding-right: 24px;
}
.px-2 {
    padding-right: 24px;
    padding-left: 24px;
}
.pt-3 {
    padding-top: 36px;
}
.pb-2 {
    padding-bottom: 24px;
}
/*=====  End of padding  ======*/


/*=============================================
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
    border-radius: 12px;
}


/*=====  End of border  ======*/



/*=============================================
██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
██║██╔██╗ ██║██████╔╝██║   ██║   ██║   
██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║   
██║██║ ╚████║██║     ╚██████╔╝   ██║   
╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝   
=============================================*/
input[type="text"] {
    border: none;
    text-align: right;
    width: 100%;
    border-radius: 4px;
}
input[type="radio"] {
    border: none;
}
input:focus {
    outline: 2px solid hsl(172, 67%, 45%);
}
input::placeholder {
    color: hsl(184, 14%, 56%);
}
.tip:focus {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
} 
#custom::placeholder {
    text-align: center;
}
#custom {
    color: hsl(183, 100%, 15%);
    font-size: 1.6rem;
}
/*=====  End of input  ======*/


/*=============================================
██████╗  ██████╗ ███████╗██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗██╔═══██╗██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗  ██║
██████╔╝██║   ██║███████╗██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔═══╝ ██║   ██║╚════██║██║   ██║   ██║██║   ██║██║╚██╗██║
██║     ╚██████╔╝███████║██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}


/*=====  End of position  ======*/



/*=============================================
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-100 {
    width: 100%;
}
.w-40 {
    width: 40%;
}

/*=====  End of width  ======*/


/*=============================================
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
=============================================*/
.uppercase {
    text-transform: uppercase;
}


/*=====  End of text  ======*/



/*=============================================
███████╗██████╗ ██████╗  ██████╗ ██████╗ 
██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔══██╗
█████╗  ██████╔╝██████╔╝██║   ██║██████╔╝
██╔══╝  ██╔══██╗██╔══██╗██║   ██║██╔══██╗
███████╗██║  ██║██║  ██║╚██████╔╝██║  ██║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.error {
    color: hsl(15, 70%, 55%);
}

/*=====  End of error  ======*/


@media  screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        column-gap: 24px;
        width: 760px;
        box-shadow: 5px 15px 15px hsla(186, 14%, 43%, 0.135);
    }
    .container > div {
        width: 100%;
        flex-grow: 1;
        padding: 24px;
    }
    .tip-container {
        width: 30%;
    }
    #custom {
        height: 100%;
    }
}