* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 100vh;
}
/*====================================================================================     
 █████╗ ████████╗████████╗██████╗ ██╗██████╗ ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██║██╔══██╗██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║   ██║      ██║   ██████╔╝██║██████╔╝██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║   ██║      ██║   ██╔══██╗██║██╔══██╗██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║   ██║      ██║   ██║  ██║██║██████╔╝╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
======================================================================================*/
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
footer {
	position: absolute;
	bottom: 2px;
}
/*=====  End of attribution  ======*/

/*=============================================
 █████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.primary {
	color: hsl(234, 12%, 34%);
}
.secondary {
	color: hsl(229, 6%, 66%);
}
.bg-primary {
	background-color: hsl(0, 0%, 98%);
}
.bg-white {
	background-color: hsl(0, 0%, 100%);
}

/*=====  End of color  ======*/

/*=============================================        
███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
	display: flex;
}
.col {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.cg-1 {
	column-gap: 24px;
}
.rg-1 {
	row-gap: 10px;
}
.rg-2 {
	row-gap: 24px;
}
.rg-3 {
	row-gap: 36px;
}
.align-self-end {
	align-self: flex-end;
}
.flex-wrap {
	flex-wrap: wrap;
}
.justify-between {
	justify-content: space-between;
}
/*=====  End of flex  ======*/

/*=============================================          
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
=============================================*/
.thin {
	font-weight: 200;
}
.regular {
	font-weight: 400;
}
.bold {
	font-weight: 600;
}
.text-center {
	text-align: center;
}
.lh-1 {
	line-height: 28px;
}
.fs-1 {
	font-size: 15px;
}
.fs-2 {
	font-size: 20px;
}
.fs-3 {
	font-size: 30px;
}
/*=====  End of text  ======*/

/*=============================================   
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
	border-radius: 8px;
}
.bt-color-1 {
	border-top: 2px solid hsl(0, 78%, 62%);
}
.bt-color-2 {
	border-top: 2px solid hsl(180, 62%, 55%);
}
.bt-color-3 {
	border-top: 2px solid hsl(34, 97%, 64%);
}
.bt-color-4 {
	border-top: 2px solid hsl(212, 86%, 64%);
}

/*=====  End of border  ======*/

/*============================================= 
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.p-1 {
	padding: 24px;
}
.pt-1 {
	padding-top: 12px;
}
.py-1 {
	padding-top: 32px;
	padding-bottom: 32px;
}
/*=====  End of padding  ======*/

/*=============================================    
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-100 {
	width: 100%;
}
.w-80 {
	width: 80%;
}
.w-50 {
	width: 50%;
}
.w-33 {
	width: 33.33%;
}
/*=====  End of width  ======*/

/*=============================================  
██╗  ██╗███████╗██╗ ██████╗ ██╗  ██╗████████╗
██║  ██║██╔════╝██║██╔════╝ ██║  ██║╚══██╔══╝
███████║█████╗  ██║██║  ███╗███████║   ██║   
██╔══██║██╔══╝  ██║██║   ██║██╔══██║   ██║   
██║  ██║███████╗██║╚██████╔╝██║  ██║   ██║   
╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝ 
=============================================*/
.h-250 {
	height: 250px;
}

/*=====  End of height  ======*/

/*=============================================
███████╗██╗  ██╗ █████╗ ██████╗  ██████╗ ██╗    ██╗
██╔════╝██║  ██║██╔══██╗██╔══██╗██╔═══██╗██║    ██║
███████╗███████║███████║██║  ██║██║   ██║██║ █╗ ██║
╚════██║██╔══██║██╔══██║██║  ██║██║   ██║██║███╗██║
███████║██║  ██║██║  ██║██████╔╝╚██████╔╝╚███╔███╔╝
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚══╝╚══╝ 
=============================================*/

.shadow {
	box-shadow: 0 10px 10px hsl(210, 15%, 92%);
}

/*=====  End of shadow  ======*/

/*=============================================   
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
=============================================*/
@media screen and (max-width: 900px) {
	.flex {
		flex-direction: column;
	}
	.w-33,
	.w-50 {
		width: 100%;
	}
}
/*=====  End of mobile  ======*/
