* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gruppo", sans-serif;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    color: #6e0d6ac3;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at top, #e1e0aa, transparent),
    radial-gradient(ellipse at bottom, #9fe5eb, transparent);
    background-size: cover;
    min-height: 100vh;
}
#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 0 25px;
    min-height: 100vh;
    align-items: center;
}
.card-container:hover .card {
    opacity: 1;
}
.card {
    opacity: 0;
}
.tech {
    background-color: #b3ccab;
    padding: 4px;
    font-size: 9px;
    text-transform: uppercase;
    color: #292d28;
    cursor: pointer;
}

img {
	width: 100%;
}

h1, h2 {
    text-align: center;
    padding: 0 12px;
}


/*=============================================
██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.overlay {
    background-color: #e6bfe553;
    color: #210121c0;
}
.card:hover {
    background-color: #fbe2fbc0;
}

.fa-solid,
.fa-brands {
    color: #673767c0;
}
.fa-solid:hover,
.fa-brands:hover {
    color: #850a85c0;
}

.tech:hover {
    background-color: #e8f4e4;
}
/*=====  End of color  ======*/




/*=============================================
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
    border-radius: 12px;
}
.br-4 {
    border-radius: 32px;
}


/*=====  End of border  ======*/



/*=============================================
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.pb-1 {
	padding-bottom: 12px;
}
.pt-1 {
    padding-top: 12px;
}
/*=====  End of padding  ======*/

/*=============================================
██╗  ██╗███████╗██╗ ██████╗ ██╗  ██╗████████╗
██║  ██║██╔════╝██║██╔════╝ ██║  ██║╚══██╔══╝
███████║█████╗  ██║██║  ███╗███████║   ██║   
██╔══██║██╔══╝  ██║██║   ██║██╔══██║   ██║   
██║  ██║███████╗██║╚██████╔╝██║  ██║   ██║   
╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   
=============================================*/
.h-full {
	height: 100%;
}

/*=====  End of height  ======*/

/*=============================================
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-full {
	width: 100%;
}

/*=====  End of width  ======*/

/*=============================================
███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
	display: flex;
}
.col {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.cg-1 {
	column-gap: 6px;
}
.cg-2 {
	column-gap: 12px;
}
.rg-1 {
    row-gap: 6px;
}
.rg-3 {
    row-gap: 24px;
}
.grow-1 {
    flex-grow: 1;
}
/*=====  End of Flex  ======*/

/*=============================================
██████╗  ██████╗ ███████╗██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗██╔═══██╗██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗  ██║
██████╔╝██║   ██║███████╗██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔═══╝ ██║   ██║╚════██║██║   ██║   ██║██║   ██║██║╚██╗██║
██║     ╚██████╔╝███████║██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.z-1 {
	z-index: 1;
}

.top-left {
	top: 0;
	left: 0;
}

/*=====  End of position  ======*/

.hidden {
    display: none !important; 
}

@media screen and (min-width: 600px) {
    #challenges {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: center;
    }
    #challenges > div {
        width: 33%;
        flex-grow: 1;
    }
}
@media screen and (min-width: 800px) {
    #container {
        padding: 0;
    }
}
