* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
main img {
    width: 550px;
}
/*=============================================         
 █████╗ ████████╗████████╗██████╗ ██╗██████╗ ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██║██╔══██╗██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║   ██║      ██║   ██████╔╝██║██████╔╝██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║   ██║      ██║   ██╔══██╗██║██╔══██╗██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║   ██║      ██║   ██║  ██║██║██████╔╝╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/*=====  End of attribution  ======*/

/*=============================================    
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.p-1 {
    padding: 12px;
}
.p-2 {
    padding: 24px;
}
.p-3 {
    padding: 36px;
}
.pl-1 {
    padding-left: 12px
}
.py-1 {
    padding-top: 12px;
    padding-bottom: 12px;
}
/*=====  End of padding  ======*/

/*=============================================
███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.rg-0 {
    row-gap: 4px;
}
.rg-1 {
    row-gap: 12px;
}
.cg-0 {
    column-gap: 8px;
}
.cg-1 {
    column-gap: 12px;
}
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
/*=====  End of flex  ======*/

/*=============================================   
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-100 {
    width: 100%;
}
/*=====  End of width  ======*/

/*=============================================    
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
    border-radius: 32px;
}
.br-100 {
    border-radius: 100%;
}
.border-1 {
    border: 1px solid hsl(223, 100%, 88%);
}
/*=====  End of border  ======*/


/*=============================================  
██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.bg-primary {
    background-color: hsl(223, 87%, 63%);
}
.primary {
    color: hsl(223, 87%, 63%);
}
.secondary {
    color: hsl(223, 100%, 88%);
}
.neutral-primary {
    color: hsl(0, 0%, 59%);
}
.neutral-secondary {
    color: hsl(209, 33%, 12%);
}
.white {
    color: hsl(0, 0%,100%);
}
/*=====  End of color  ======*/


/*=============================================
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
=============================================*/
.thin {
    font-weight: 300;
}
.regular {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.fs-1 {
    font-size: 12px;
}
.fs-2 {
    font-size: 20px;
}
.italic {
    font-style: italic;
}
/*=====  End of text  ======*/


/*=============================================    
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
=============================================*/
button {
    border: none;
    box-shadow: 0 2px 6px 2px hsla(223, 34%, 69%, 0.6);
    cursor: pointer;
}
button:hover {
    background-color:  hsl(223, 79%, 68%);
}
input {
    border: 1px solid hsl(223, 100%, 88%);
}
input::placeholder {
    color: hsl(0, 0%, 59%);
}
input:active,
input:focus {
	outline: none;
	box-shadow: none;
}
/*=====  End of form  ======*/


/*=============================================   
██╗ ██████╗ ██████╗ ███╗   ██╗
██║██╔════╝██╔═══██╗████╗  ██║
██║██║     ██║   ██║██╔██╗ ██║
██║██║     ██║   ██║██║╚██╗██║
██║╚██████╗╚██████╔╝██║ ╚████║
╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.icon {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer
}
.icon:hover {
    background-color:  hsl(223, 87%, 63%);
}
.icon:hover i {
    color:hsl(0, 0%,100%);
}
/*=====  End of icon  ======*/


/*=============================================   
███████╗██████╗ ██████╗  ██████╗ ██████╗ 
██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔══██╗
█████╗  ██████╔╝██████╔╝██║   ██║██████╔╝
██╔══╝  ██╔══██╗██╔══██╗██║   ██║██╔══██╗
███████╗██║  ██║██║  ██║╚██████╔╝██║  ██║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.error {
    color: hsl(354, 100%, 66%);
}
.fs-error {
    font-size: 10px;
}
.border-error {
    border: 1px solid hsl(354, 100%, 66%);
}
#email-container {
    position: relative;
}
#email-error {
    position: absolute;
    bottom: -18px;
    width: 100%;
}
/*=====  End of error  ======*/



/*=============================================
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
=============================================*/
@media screen and (max-width: 620px) {
    main img {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    form {
        row-gap: 32px;
    }
    form input,
    form button {
        width: 100%;
    }
    .rg-1 {
        row-gap: 24px;
    }
    #email-error {
        text-align: center;
    }
}


/*=====  End of mobile  ======*/

