* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#root {
    min-height: 100vh;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

/*=============================================
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
=============================================*/
.xs {
    font-size: 12px;
}
.md {
    font-size: 18px;
}
.lg {
    font-size: 32px;
}
.xl {
    font-size: 40px;
}
.thin {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
/*=====  End of text  ======*/


/*=============================================
██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.white {
    color: hsl(0, 0%, 100%);
}
.secondary {
    color: hsl(235, 45%, 61%);
}


/*=====  End of color  ======*/


/*=============================================
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.pt-1 {
    padding-top: 12px;
}
.pt-2 {
    padding-top: 24px;
}
.pb-1 {
    padding-bottom: 12px;
}
.pl-1 {
    padding-left: 20px;
}
/*=====  End of padding  ======*/

@media screen and (max-width: 720px) {
    #root {
        display: block;
    }
}

@media screen and (max-width: 419px) {
    .lg {
        font-size: 20px;
    }
    .xl {
        font-size: 28px;
    }
}