.card-container {
    background-color: hsl(235, 46%, 20%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    transform: translateY(-16px);
}

.card-container:hover {
    background-color: hsl(235, 40%, 43%);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}