* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 32px;
}
/*=============================================         
 █████╗ ████████╗████████╗██████╗ ██╗██████╗ ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██║██╔══██╗██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║   ██║      ██║   ██████╔╝██║██████╔╝██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║   ██║      ██║   ██╔══██╗██║██╔══██╗██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║   ██║      ██║   ██║  ██║██║██████╔╝╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
footer {
    position: absolute;
    bottom: 4px;
}
/*=====  End of attribution  ======*/


/*=============================================  
 ███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.col {
    flex-direction: column;
}
.rg-1 {
    row-gap: 8px;
}
.rg-2 {
    row-gap: 12px;
}
.rg-3 {
    row-gap: 24px;
}
.cg-1 {
    column-gap: 12px;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
/*=====  End of flex  ======*/


/*=============================================
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-50 {
    width: 50%;
}
.w-70 {
    width: 70%;
}
.w-100 {
    width: 100%;
}

/*=====  End of width  ======*/



/*=============================================           
 ██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.bg-primary {
    background-color: hsl(179, 62%, 43%);
}
.bg-primary-2 {
    background-color: hsl(179, 69%, 37%);
}
.bg-secondary {
    background-color: hsl(71, 73%, 54%);
}
.bg-neutral-primary {
    background-color: hsl(204, 43%, 93%);
}
.bg-neutral-secondary {
    background-color: hsl(218, 22%, 67%);
}
.bg-white {
    background-color: hsl(0, 0%, 100%);
}
.neutral-primary {
    color: hsl(204, 43%, 93%);
}
.neutral-primary-1 {
    color: hsla(203, 44%, 93%, 0.6);
}
.neutral-primary-2 {
    color: hsla(203, 44%, 93%, 0.4);
}
.neutral-secondary {
    color: hsl(218, 22%, 67%);
}
.primary {
    color: hsl(179, 62%, 43%);
}
.secondary {
    color: hsl(71, 73%, 54%);
}
/*=====  End of color  ======*/


/*=============================================  
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.p-1 {
    padding: 48px;
}
.pb-1 {
    padding-bottom: 12px;
}
.pb-2 {
    padding-bottom: 24px;
}
.py-1 {
    padding-top: 18px;
    padding-bottom: 18px;
}
/*=====  End of padding  ======*/


/*=============================================  
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   
=============================================*/
.bold {
    font-weight: 700;
}
.regular {
    font-weight: 400;
}
.fs-1 {
    font-size: 12px;
}
.fs-2 {
    font-size: 16px;
}
.fs-3 {
    font-size: 28px;
}
.fs-4 {
    font-size: 32px;
}
.lh-1 {
    line-height: 24px;
}
/*=====  End of text  ======*/



/*=============================================        
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
    border-radius: 12px;
}
.br-tr-1 {
    border-top-right-radius: 12px;
}
.br-tl-1 {
    border-top-left-radius: 12px;
}
.br-br-1 {
    border-bottom-right-radius: 12px;
}
.br-bl-1 {
    border-bottom-left-radius: 12px;
}
/*=====  End of border  ======*/


/*=============================================
      
███████╗██╗  ██╗ █████╗ ██████╗  ██████╗ ██╗    ██╗
██╔════╝██║  ██║██╔══██╗██╔══██╗██╔═══██╗██║    ██║
███████╗███████║███████║██║  ██║██║   ██║██║ █╗ ██║
╚════██║██╔══██║██╔══██║██║  ██║██║   ██║██║███╗██║
███████║██║  ██║██║  ██║██████╔╝╚██████╔╝╚███╔███╔╝
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚══╝╚══╝ 
=============================================*/
.shadow {
    box-shadow: 0px 10px 8px hsla(180, 5%, 43%, 0.431);
}
/*=====  End of shadow  ======*/



/*=============================================    
██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗
██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║
██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║
██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║
██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║
╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
button {
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: hsl(71, 94%, 40%);
}

/*=====  End of button  ======*/


/*=============================================  
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
=============================================*/
@media screen and (max-width: 550px) {
    .w-50,
    .w-70 {
        width: 100%;
    }
    .second-section {
        border-radius: 0px;
    }
    .last-section {
        border-radius: 0px 0px 12px 12px;
    }
}
@media screen and (max-width: 1030px) {
    .w-70 {
        width: 80%;
    }
}
@media screen and (min-width: 551px) and (max-width: 900px) {
    .rg-1 {
        row-gap: 12px;
    }
    .w-70 {
        width: 100%;
    }
}
@media screen and (min-width: 901px) and (max-width: 700px) {
    .rg-1 {
        row-gap: 10px;
    }
}
@media screen and (max-width: 550px) {
    .rg-1 {
        row-gap: 4px;
    }
    .w-70 {
        width: 100%;
    }
}
/*=====  End of mobile  ======*/

