* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(217, 12%, 63%); 
}
.attribution a { color: hsl(228, 45%, 44%); }

body { 
    height: 100vh;
}

p {
    font-size: 15px;
    line-height: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

img {
    width: 200px;
}

li {
    width: fit-content;
}

button {
    border: none;
}

.font-lg {
    font-size: 25px;
}

.flex {
    display: flex
}

.col {
    flex-direction: column;
}

.container {
    background: linear-gradient(to top, hsl(216, 12%, 8%) 20%, hsl(213, 19%, 18%));
    border-radius: 12px;
    width: 450px;
    height: 450px;
}

.bg-primary {
    background-color: hsl(25, 97%, 53%);;
}

.primary {
    color: hsl(25, 97%, 53%);
}

.bg-secondary {
    background-color: hsl(213, 19%, 18%);
}

.secondary {
    color:  hsl(0, 0%, 100%);
}

.bg-tertiary {
    background-color: hsl(225, 8%, 10%);
}

.tertiary {
    color: hsl(217, 12%, 63%);
}

.p-1 {
    padding: 12px;
}

.p-2 {
    padding: 24px;
}

.br-2 {
    border-radius: 24px;
}

.rg-2 {
    row-gap: 24px;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.circle-button:focus {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.submit-button:active {
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
}

.circle {
    background: hsl(213, 19%, 18%);
    border-radius: 100%;
    padding: 24px 12px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.star {
    width: 30px;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.pos-bottom {
    position: fixed;
    bottom: 20px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 330px;
    }
    .circle {
        padding: 16px;
        width: 50px;
    }
    .star {
        width: 20px;
    }
}