* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
body {
	min-height: 100vh;
	position: relative;
}
button {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border-radius: 24px;
	padding: 8px 36px;
	border: none;
	right: 0px;
	cursor: pointer;
}
button:hover {
	background: linear-gradient(135deg, hsl(0, 58%, 93%), hsl(0, 76%, 88%));
}
#content {
    background: url("./images/bg-pattern-desktop.svg") repeat;
}
*:active,
*:focus {
    outline:none;
    box-shadow: none;
}
/*=============================================       
 █████╗ ████████╗████████╗██████╗ ██╗██████╗ ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██║██╔══██╗██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║   ██║      ██║   ██████╔╝██║██████╔╝██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║   ██║      ██║   ██╔══██╗██║██╔══██╗██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║   ██║      ██║   ██║  ██║██║██████╔╝╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.attribution {
	font-size: 11px;
	text-align: center;
	color: hsl(0, 6%, 24%);
}
.attribution a {
	color: hsl(0, 36%, 70%);
}
footer {
	position: absolute;
	bottom: 4px;
	display: flex;
	justify-content: center;
	width: 50%;
}
/*=====  End of attribution  ======*/

/*=============================================    
██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
.primary,
input {
	color: hsl(0, 6%, 24%);
}
.secondary,
::placeholder {
	color: hsl(0, 36%, 70%);
}
.error {
	color: hsl(0, 93%, 68%);
}
/*=====  End of color  ======*/

/*=============================================
████████╗███████╗██╗  ██╗████████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
   ██║   █████╗   ╚███╔╝    ██║   
   ██║   ██╔══╝   ██╔██╗    ██║   
   ██║   ███████╗██╔╝ ██╗   ██║   
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝  
=============================================*/
.thin {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.bold {
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.fs-xs {
	font-size: 12px;
}
.fs-1 {
	font-size: 16px;
}
.fs-2 {
	font-size: 72px;
}
.ls-1 {
	letter-spacing: 12px;
}
.lh-1 {
	line-height: 32px;
}
.lh-2 {
	line-height: 80px;
}
/*=====  End of text  ======*/

/*=============================================      
██╗  ██╗███████╗██████╗  ██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗
██║  ██║██╔════╝██╔══██╗██╔═══██╗    ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝
███████║█████╗  ██████╔╝██║   ██║    ██║██╔████╔██║███████║██║  ███╗█████╗  
██╔══██║██╔══╝  ██╔══██╗██║   ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝  
██║  ██║███████╗██║  ██║╚██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
=============================================*/
.hero-img {
	background: url("./images/hero-desktop.jpg") no-repeat;
	background-size: cover;
}

/*=====  End of hero image  ======*/

/*=============================================     
██╗    ██╗██╗██████╗ ████████╗██╗  ██╗
██║    ██║██║██╔══██╗╚══██╔══╝██║  ██║
██║ █╗ ██║██║██║  ██║   ██║   ███████║
██║███╗██║██║██║  ██║   ██║   ██╔══██║
╚███╔███╔╝██║██████╔╝   ██║   ██║  ██║
 ╚══╝╚══╝ ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝
=============================================*/
.w-100 {
	width: 100%;
}
.w-75 {
	width: 75%;
}
.w-50 {
	width: 50%;
}
/*=====  End of width  ======*/

/*=============================================    
███████╗██╗     ███████╗██╗  ██╗
██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██║     █████╗   ╚███╔╝ 
██╔══╝  ██║     ██╔══╝   ██╔██╗ 
██║     ███████╗███████╗██╔╝ ██╗
╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
=============================================*/
.flex {
	display: flex;
}
.col {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.align-self-start {
	align-self: flex-start;
}
.flex-wrap {
	flex-wrap: wrap;
}
.rg-1 {
	row-gap: 10px;
}
.rg-2 {
	row-gap: 24px;
}
.rg-200 {
	row-gap: 100px;
}
/*=====  End of flex  ======*/

/*=============================================
██╗  ██╗███████╗██╗ ██████╗ ██╗  ██╗████████╗
██║  ██║██╔════╝██║██╔════╝ ██║  ██║╚══██╔══╝
███████║█████╗  ██║██║  ███╗███████║   ██║   
██╔══██║██╔══╝  ██║██║   ██║██╔══██║   ██║   
██║  ██║███████╗██║╚██████╔╝██║  ██║   ██║   
╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   
=============================================*/
.min-h {
	min-height: 100vh;
}

/*=====  End of height  ======*/

/*=============================================   
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ 
=============================================*/
.p-1 {
	padding: 12px;
}
.px-2 {
	padding-left: 60px;
	padding-right: 60px;
}
.py-1 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.py-2 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.pl-1 {
	padding-left: 14px;
}

/*=====  End of padding  ======*/

/*=============================================    
██████╗  ██████╗ ██████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██║   ██║██████╔╝██║  ██║█████╗  ██████╔╝
██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝  ██╔══██╗
██████╔╝╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
=============================================*/
.br-1 {
	border-radius: 24px;
}
.input-border {
	border: 1px solid hsla(0, 36%, 70%, 0.5);
}
/*=====  End of border  ======*/

/*=============================================     
██████╗  ██████╗ ███████╗██╗████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗██╔═══██╗██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗  ██║
██████╔╝██║   ██║███████╗██║   ██║   ██║██║   ██║██╔██╗ ██║
██╔═══╝ ██║   ██║╚════██║██║   ██║   ██║██║   ██║██║╚██╗██║
██║     ╚██████╔╝███████║██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
=============================================*/
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}

/*=====  End of position  ======*/

/*=============================================   
███████╗██████╗ ██████╗  ██████╗ ██████╗ 
██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔══██╗
█████╗  ██████╔╝██████╔╝██║   ██║██████╔╝
██╔══╝  ██╔══██╗██╔══██╗██║   ██║██╔══██╗
███████╗██║  ██║██║  ██║╚██████╔╝██║  ██║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝
=============================================*/
#email-error-icon {
	right: 100px;
}
.email-error-border {
	border: 1px solid hsl(0, 93%, 68%);
}
.hidden {
	display: none;
}

/*=====  End of error  ======*/

/*=============================================    
██╗      ██████╗  ██████╗  ██████╗ 
██║     ██╔═══██╗██╔════╝ ██╔═══██╗
██║     ██║   ██║██║  ███╗██║   ██║
██║     ██║   ██║██║   ██║██║   ██║
███████╗╚██████╔╝╚██████╔╝╚██████╔╝
╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝ 
=============================================*/
#logo {
	position: absolute;
	top: 40px;
}

/*=====  End of logo  ======*/

/*=============================================       
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
=============================================*/
@media screen and (max-width: 980px) {
	.main {
		flex-direction: column;
	}
	#content {
		order: 2;
	}
	#hero {
		order: 1;
	}
	.hero-img {
		background: url("./images/hero-mobile.jpg") no-repeat;
        background-size: cover;
	}
	.w-50,
	.w-75 {
		width: 100%;
	}
	.fs-2 {
		font-size: 36px;
	}
	footer {
		width: 100%;
	}
	.min-h {
		min-height: 250px;
	}
	.lh-1 {
		line-height: 28px;
	}
	.lh-2 {
		line-height: 40px;
	}
	#logo {
		position: static;
	}
    #content {
        background: none;
    }
}
/*=====  End of mobile  ======*/
